In [4]:
# Import the dependencies

import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

import io

In [6]:
# Import the input data

from google.colab import files
data = files.upload()

Saving WineQT.csv to WineQT (1).csv

In [7]:
# Convert csv to dataframe

wine_df = pd.read_csv('WineQT.csv')
wine_df.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  Id
0            7.4              0.70         0.00  ...      9.4        5   0
1            7.8              0.88         0.00  ...      9.8        5   1
2            7.8              0.76         0.04  ...      9.8        5   2
3           11.2              0.28         0.56  ...      9.8        6   3
4            7.4              0.70         0.00  ...      9.4        5   4

[5 rows x 13 columns]

# EDA

In [9]:
# Print the shape
print("Shape: ", wine_df.shape )

Shape:  (1143, 13)

In [10]:
# Check the data types of the columns
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [12]:
# Check for missing values
# wine_df.isna().sum

wine_df.isnull().values.any()

False

In [13]:
# Get stats for each column
wine_df.describe().round(2)

       fixed acidity  volatile acidity  citric acid  ...  alcohol  quality       Id
count        1143.00           1143.00      1143.00  ...  1143.00  1143.00  1143.00
mean            8.31              0.53         0.27  ...    10.44     5.66   804.97
std             1.75              0.18         0.20  ...     1.08     0.81   464.00
min             4.60              0.12         0.00  ...     8.40     3.00     0.00
25%             7.10              0.39         0.09  ...     9.50     5.00   411.00
50%             7.90              0.52         0.25  ...    10.20     6.00   794.00
75%             9.10              0.64         0.42  ...    11.10     6.00  1209.50
max            15.90              1.58         1.00  ...    14.90     8.00  1597.00

[8 rows x 13 columns]